@charset "UTF-8";

@import
	url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Nanum+Gothic&display=swap')
	;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Nanum Gothic', sans-serif;
	height: 150vh;
	display: grid;
	grid-template-columns: 100px 1fr 100px;
	grid-template-rows: 120px 40px 100px 1fr 150px;
	grid-template-areas: "header header header" "nav nav nav"
		"aside aside aside" "section section section" "footer footer footer"
}

header {
	grid-area: header;
}

h1 {
	margin-top: 5%;
	text-align: center;
}

nav {
	grid-area: nav;
}

aside {
	grid-area: aside;
}

section {
	grid-area: section;
}

footer {
	grid-area: footer;
	font-size: 0.8em;
}

ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	border: solid 1px lightblue;
}

th, td, button {
	padding: 5px;
	border: solid 1px lightblue;
}

button {
	border: solid 1px lightblue;
	margin-top: 10px;
	cursor: pointer;
}