@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

h2 {
	text-align: center;
	margin-top: 10%;
}

.table-container {
	display: flex;
	flex-direction: column;
	width: fit-content;
	margin: 10px auto auto auto;
}

table {
	border-collapse: collapse;
	border: solid 1px lightblue;
}

th, td, .button {
	padding: 5px;
}

button {
	border: solid 1px lightblue;
	margin-top: 10px;
	cursor: pointer;
}
