<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>mvc2_board</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Servlet 등록 및 맵핑 -->
	<servlet>
  	<servlet-name>boardDelete</servlet-name>
  	<servlet-class>board.boardDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardDelete</servlet-name>
  	<url-pattern>/boardDelete</url-pattern>
  </servlet-mapping>

  
  <servlet>
  	<servlet-name>boardWrite</servlet-name>
  	<servlet-class>board.boardWriteAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardWrite</servlet-name>
  	<url-pattern>/boardWrite</url-pattern>
  </servlet-mapping>

 <servlet>
  	<servlet-name>boardUpdate</servlet-name>
  	<servlet-class>board.boardUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>boardUpdate</servlet-name>
  	<url-pattern>/boardUpdate</url-pattern>
  </servlet-mapping>
  
  <!-- JSP 파일 등록 및 맵핑 -->
  <servlet>
  	<servlet-name>index</servlet-name>
  	<jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>index</servlet-name>
  	<url-pattern>/index</url-pattern>
  </servlet-mapping>

</web-app>